NEXT_PUBLIC_API_URL=http://localhost:4000/api

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD6ifeTULUG0yQbxIqTLcuXHb9MMGYXWfk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=skadesmart.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=skadesmart
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=skadesmart.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=154888780324
NEXT_PUBLIC_FIREBASE_APP_ID=1:154888780324:web:5f39121390298bb1f3f6b1
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BFDMr-Y0nDsV69ebjUD6ly4xtCKBDlPGhCyjs8TTPLoUAfOUtQVQNH9rjuQYSt5wuPBIglaHc0httyLGJ09spJY
